@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

* {
    color: #F0EBE3;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #7D9D9C;
}

::selection{
    background-color: #100F0F;
}
a:hover{
    font-size: 20pt;
}

h1, h3 {
    text-align: center;
    color: #E4DCCF;
}

li{
    font-size: 11pt;
}

.container{
    width: 60%;
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* .row:nth-child(2){
    margin: 1rem 0;
} */

.margin-cross-axis-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    font-size: 12pt;
    background-color: #576F72;
    padding: 10px ;
    position: relative;
}
footer a{
    padding: 0 10px;
    text-decoration: none;
    color: #E4DCCF;
}

.card{
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #E4DCCF;
    padding: 5px;
}
.card:nth-child(2){
    margin: 0 1rem;
}
.margin-main-axis-1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.card a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 50px;
    background-color: #576F72;
    border-style: none;
    padding: 10px;
}

.card img{
    width: 200px;
    height: 150px;
    display: block;
    margin: auto;
}

.describe{
    text-align: justify;
}